
.services{
    display: inline-block;
    padding: 20px;
    align-items: center;
    
}
.services img{
    opacity: 0.6;
    transition: all .6s ease-in-out;
}
.services img:hover{
    opacity: 1;
}
.cta{
    text-align: center;
}
.cta a.button{
    margin-top: 30px;
    border: 2px solid;
    margin-bottom: 40px;
    transition: all .5s ease;
    
}
.cta a.button:hover{
    border: 2px solid orangered;
}