* {
  box-sizing: border-box
}

body {
  margin: 0;
  background-image: linear-gradient(#d16ba5, #e17497, #eb828b, #ee9183, #eda280, #f1ad7d, #f3b97b, #f3c67b, #f8d273, #fbdf6b, #f9ec64, #f4fb5f)
}

main {
  height: 200vmin
}

h1 {
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 48px;
  text-align: center
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px
}

#scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px
}
